{% extends 'base.html' %} <!--this is jinja2 syntax,this is plugged in from base.html-->

{% block head %} 
<title>Edit Post</title>
{% endblock %}

{% block body %} 
<h1>Editing Post</h1>

<hr>
<h2>Edit:</h2>
<form action="/posts/edit/{{post.id}}" method='POST'> <!--whatever is written here when we hit submit button that is going to get sent to a database-->
    <label for="title">Title:</label>  <!--for=title is linking title to the next line name-->
    <input class="form-control" type="text" name='title' id='title' value="{{post.title}}" aria-label="Enter Title">
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" name='author' id='title' value="{{post.author}}" aria-label="Enter Author">
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content" aria-label="Post Something..." rows="3"> {{ post.content }} </textarea> <!--Since text area doesnt have value parameter so writing between opening and closing tags-->
    <br>
    <input type='submit' class="btn btn-success" value='Save'>
</form>
<hr>

   
{% endblock %}